psycopg2-binary==2.9.6 #dependência do postgress
python-jose[cryptography] #trabalhar com JWT
passlib[bcrypt] #encriptar senhas
bcrypt==4.0.1 #encriptar senhas como hash
cryptography==40.0.2 #criptografia de dados
Faker==18.4.0 #gerar dados moks
fastapi==0.95.1 #Framwork de construção de API's
httpx==0.24.0
pydantic==1.10.7
PyJWT==2.6.0
pytest==7.3.1
pytest-postgresql==4.1.1
python-dotenv==1.0.0
python-jose==3.3.0
SQLAlchemy==2.0.9
SQLAlchemy-Utils==0.41.0
uvicorn==0.21.1
alembic